{% set heading = "About Me" %}
{% set clazz = "about-card" %}
{% extends "./macros/card.njk" %}

{% block body %}
<img align="left" src="assets/me.jpg" />
<p>
    I am a computer scientist. I am a keen motorcyclist. I am a lover of cider. I am from Adelaide.
</p>
<p>
    I graduated with honours in Computer Science from the University of Adelaide.
</p>
<p>
    I am Lead Software Engineer at Assignar in Sydney.
</p>
<p>
    I am always looking for new things to learn. Currently digging deep into TypeScript, linting, Node and GraphQL.
</p>
<p>
    I pride myself on being able to work with many technologies.
</p>
<p>
    Proficient in many languages; namely TypeScript/JavaScript, PHP, SQL, C#, and C/C++.
</p>
<p>
    You can read more about me and my history in <a href="./assets/Brad_Zacher_Resume_2018.pdf" rel="nofollow" id="resume-link">my resume</a>.
</p>
<p>
    You can contact me via any of the networks below, or by gmail - bradzacher <a href="./assets/bradzacher.txt">GPG</a>.
</p>
<p>
    I also have a blog on <a href="https://medium.com/@bradzacher" rel="me">medium.com/@bradzacher</a>.
</p>
{% endblock %}
