{% set heading = "Around the Web" %}
{% set clazz = "links-card" %}
{% extends "./macros/card.njk" %}

{% block body %}
<div>
    <a class="around-the-web icon-github" href="https://github.com/bradzacher" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-wakatime" href="https://wakatime.com/@bradzacher" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-linkedin" href="https://linkedin.com/in/bradzacher" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-instagram" href="https://instagram.com/bradzacher" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-twitter" href="https://twitter.com/bradzacher" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-google" href="https://google.com/+BradZacher1" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-youtube" href="https://youtube.com/BradZacher1" target="_blank" rel="me noopener"></a>
    <a class="around-the-web icon-steam" href="https://steamcommunity.com/id/MuppetMaster42" target="_blank" rel="me noopener"></a>
</div>
{% endblock %}
