{% from "./macros/social.njk" import social %}
{% set heading = "Around the Web" %}
{% set clazz = "links-card" %}
{% extends "./macros/card.njk" %}

{% block body %}
<div>
    {% for link in social %}
    <a class="around-the-web icon-{{ link.key }}" href="{{ link.link }}" target="_blank" rel="me noopener"></a>
    {% endfor %}
</div>
{% endblock %}
