{% from "./macros/project.njk" import project %}

{% set heading = "Projects" %}
{% set clazz = "projects-card" %}
{% extends "./macros/card.njk" %}

{% block body %}
<div class="mdl-grid">

    {{ project(
        "HonsRecursiveSolverGE",
        "From Pictures to Programs",
        "My honours thesis - evolves recursive solutions using GP.",
        source = "https://github.com/bradzacher/HonsRecursiveSolverGE"
    ) }}

    {{ project(
        "FioriBuildEnv",
        "FioriBuildEnv",
        "A fully featured local build and deployment environment for Fiori development.",
        source = "https://github.com/bradzacher/FioriBuildEnv"
    ) }}

</div>
{% endblock %}
