{% from "./macros/project.njk" import project %}

{% set heading = "Projects" %}
{% set clazz = "projects-card" %}
{% extends "./macros/card.njk" %}

{% block body %}
<div class="mdl-grid">

    {{ project(
        "zacher-home",
        "zacher.com.au",
        "This landing page!",
        source = "https://github.com/bradzacher/zacher-home"
    ) }}

    {{ project(
        "HonsRecursiveSolverGE",
        "From Pictures to Programs",
        "My honours thesis - evolves recursive solutions using GP.",
        source = "https://github.com/bradzacher/HonsRecursiveSolverGE"
    ) }}

    {{ project(
        "natural20",
        "natural20",
        "A web-based engine dnd 5e, with inbuilt handling of rules.",
        source = "https://github.com/bradzacher/natural20"
    ) }}

</div>
{% endblock %}
