{% set heading = "Languages Over the Last 30 days" %}
{% set clazz = "wakatime-card" %}
{% extends "./macros/card.njk" %}

{% block body %}
<noscript>
    <style type="text/css">
        .wakatime-card {
            display: none;
        }
    </style>
</noscript>
<div class="figure-container">
    <canvas id="wakatime-canvas" height="400" width="320" />
    <div id="wakatime-error" style="display: none">
    <p>Something went wrong whilst fetching statistics from WakaTime.</p>
    <p>Probably a timeout because of a cold start of their service.</p>
    <p>Try refreshing in a few seconds.</p>
    </div>
</div>
<span class="powered-by">
    Powered by <a href="https://wakatime.com/" target="_blank" rel="nofollow">WakaTime</a> and <a href="http://www.chartjs.org" traget="_blank" rel="nofollow">Chart.js</a>
</span>
{% endblock %}
