{
    "extends": [
        "assignar-node"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "typescript/type-annotation-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".ts",
                    ".js",
                    ".css",
                    ".scss"
                ]
            }
        }
    },
    "overrides": [
        {
            "files": "typings/**/*",
            "rules": {
                "strict": "off"
            }
        }
    ]
}
