{
    "extends": [
        "brad/react"
    ],
    "rules": {
        "react/jsx-no-target-blank": "off"
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        },
        "react": {
            "version": "16.6.3"
        }
    }
}
