{%
set social = [
    { key:"github", link:"https://github.com/bradzacher" },
    { key:"wakatime", link:"https://wakatime.com/@bradzacher" },
    { key:"linkedin", link:"https://linkedin.com/in/bradzacher" },
    { key:"instagram", link:"https://instagram.com/bradzacher" },
    { key:"twitter", link:"https://twitter.com/bradzacher" },
    { key:"google", link:"https://google.com/+BradZacher1" },
    { key:"youtube", link:"https://youtube.com/BradZacher1" },
    { key:"steam", link:"https://steamcommunity.com/id/MuppetMaster42" }
]
%}
