@import './build/sprites.scss';

$padding: 8px;
$pageWidth: 600px;
.width {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.mdl-layout__header {
    background-color: #56BA89;
}

.page-content {
    max-width: #{$pageWidth};
    width: 100%;
    margin: auto;
    padding-top: #{$padding * 2.5};

    .mdl-card-wide {
        width: 100%;
        margin-bottom: #{$padding};
    }
    .mdl-card__title {
        background-color: #CFD8DC;
    }
    .mdl-card__supporting-text {
        color: black;
        font-size: #{$padding * 2};
        width: auto;
    }
}

.about-card {
    .mdl-card__supporting-text {
        > img {
            padding-right: #{$padding};
            border-radius: 10%;
        }
    }
}

.links-card {
    $icon-size: #{$padding * 8};
    $icon-gutter: 30px;

    .mdl-card__supporting-text {
        margin: auto;
        font-size: #{$padding * 1.75};
        text-align: center;

        > div {
            display: inline-block;
        }
    }

    .around-the-web {
        height: $icon-size;
        width: $icon-size;
    }
}

.figure-container {
    text-align: center;
    overflow: hidden;
    max-height: 500px;

    #wakatime-canvas {
        display: inline-block !important; // use !important to override chart.js's on-element styling
        max-width: 400px;
    }
}

.wakatime-card, .github-card {
    .powered-by {
        float: right;
        // the github calendar does somethign weird with the float which centers it - this will reset it to normal
        clear: both;
    }
}

.github-card {
    // hide the summary text
    .contrib-footer {
        div:first-child {
            display: none;
        }
    }

    #github-calendar {
        // override the min-height the lib auto puts directly on the element
        min-height: auto !important;

        h2 {
            display: none;
        }
    }

    .calendar-graph {
        // because we scale, we want slightly smaller
        height: 95px;
    }
}

.projects-card {
    $mdlCardContentPadding: $padding * 2;
    $mdlCellMargin: $padding * 2;
    $projectCardDim: ($pageWidth / 2) - $mdlCardContentPadding - $mdlCellMargin;

    > .mdl-card__supporting-text {
        width: 100%;
    }
    .mdl-grid {
        padding: 0;

        .mdl-cell {
            width: #{$projectCardDim};
            height: #{$projectCardDim};
        }
    }
    .mdl-card.project-card {
        width: #{$projectCardDim};
        height: #{$projectCardDim};

        .mdl-card__title {
            background: none;
            position: relative;

            > .project-card-icon {
                position: absolute;
                top: #{$padding};
                right: #{$padding};
            }
        }

        > .mdl-card__actions {
            height: #{$padding * 6};
            padding: #{$padding};
            background-color: rgba(0, 0, 0, 0.2);

            > a {
                padding: #{$padding * 0.5};
                float: right;
            }
        }
    }
}

.schema-data {
    display: none;
}
