$padding: 8px;
$pageWidth: 600px;
.width {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.mdl-layout__header {
    background-color: #56BA89;
}

.page-content {
    max-width: #{$pageWidth};
    width: 100%;
    margin: auto;
    padding-top: 20px;

    .mdl-card-wide {
        width: 100%;
        margin-bottom: #{$padding};
    }
    .mdl-card__title {
        background-color: #CFD8DC;
    }
    .mdl-card__supporting-text {
        color: black;
        font-size: 16px;
        width: auto;
    }
}

.about-card {
    .mdl-card__supporting-text {
        > img {
            padding-right: #{$padding};
            border-radius: 10%;
        }
    }
}

.links-card {
    $icon-size: 64px;
    $icon-gutter: 30px;
    @function calc-offset($i) {
        @return -($i * $icon-size + $i * $icon-gutter);
    }
    @mixin icon($x, $y) {
        background-position: calc-offset($x) calc-offset($y);
    }

    .mdl-card__supporting-text {
        margin: auto;
        font-size: 13px;
        text-align: center;

        > div {
            display: inline-block;
        }
    }

    .around-the-web {
        height: $icon-size;
        width: $icon-size;
        background-image: url("./assets/around_the_web.png");
        background-repeat: no-repeat;
        display: inline-block;
        background-position: 0 0;

        &#icon-facebook {
            @include icon(0, 0);
        }
        &#icon-twitter {
            @include icon(2, 0);
        }
        &#icon-github {
            @include icon(4, 7);
        }
        &#icon-wakatime {
            @include icon(2, 1);
        }
        &#icon-steam {
            @include icon(4, 4);
        }
        &#icon-instagram {
            @include icon(0, 4);
        }
        &#icon-gplus {
            @include icon(3, 0);
        }
        &#icon-youtube {
            @include icon(2, 4);
        }
        &#icon-linkedin {
            @include icon(3, 3);
        }
    }
}

.figure-container {
    text-align: center;
    overflow: hidden;
    max-height: 500px;

    #wakatime-canvas {
        display: inline-block !important; // use !important to override chart.js's on-element styling
        max-width: 400px;
    }
}

.wakatime-card, .github-card {
    .powered-by {
        float: right;
        // the github calendar does somethign weird with the float which centers it - this will reset it to normal
        clear: both;
    }
}

.github-card {
    // hide the summary text
    .contrib-footer {
        div:first-child {
            display: none;
        }
    }

    #github-calendar {
        // override the min-height the lib auto puts directly on the element
        min-height: auto !important;

        h2 {
            display: none;
        }
    }

    .calendar-graph {
        // because we scale, we want slightly smaller
        height: 95px;
    }
}

.projects-card {
    $mdlCardContentPadding: 16px;
    $mdlCellMargin: 16px;
    $projectCardDim: ($pageWidth / 2) - $mdlCardContentPadding - $mdlCellMargin;

    > .mdl-card__supporting-text {
        width: 100%;
    }
    .mdl-grid {
        padding: 0;

        .mdl-cell {
            width: #{$projectCardDim};
            height: #{$projectCardDim};
        }
    }
    .mdl-card.project-card {
        width: #{$projectCardDim};
        height: #{$projectCardDim};

        .mdl-card__title {
            background: none;
        }

        > .mdl-card__actions {
            height: 56px;
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.2);

            > a {
                width: 36px;
                height: 36px;
                padding: 4px;
                float: right;
                background-repeat: no-repeat;
                background-position: center center;

                &.source-link {
                    background-image: url("./assets/github.png");
                }
                &.demo-link {
                    background-image: url("./assets/open_demo.png");
                }
            }
        }

        background-repeat: no-repeat;
        background-position: calc(100% - 16px) 16px;
        &.dota2-stats {
            background-image: url("./assets/dota2-stats.png");
        }
        &.HonsRecursiveSolverGE {
            background-image: url("./assets/HonsRecursiveSolverGE.png");
        }
    }
}

.schema-data {
    display: none;
}
